<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-dark is-outlined" aria-haspopup="true" aria-controls="nav-menu">
      <span>S.OWL | Menu</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="nav-menu" role="menu">
    <div class="dropdown-content">
      <a href="{{ "/" | prepend: site.baseurl }}" class="dropdown-item">
        <i class="fas fa-home" aria-hidden="true"></i>
        홈
      </a>
      <hr class="dropdown-divider">
      <a href="{{ "/about" | prepend: site.baseurl }}"
      class="dropdown-item">소개</a>
      <a href="{{ "/activity" | prepend: site.baseurl }}"
      class="dropdown-item">활동</a>
      <a href="{{ "/news" | prepend: site.baseurl }}"
      class="dropdown-item">새 소식</a>
      <a href="{{ "/contact" | prepend: site.baseurl }}"
      class="dropdown-item">연락하기</a>
      <hr class="dropdown-divider">
      <a href="https://s-owl.github.io/wiki"
      class="dropdown-item">동아리 위키</a>
      <a href="https://s-owl.slack.com"
      class="dropdown-item">Slack</a>
      <a href="https://github.com/s-owl"
      class="dropdown-item">GitHub</a>
    </div>
  </div>
</div>
